PRIVATE_KEY_PATH = '/home/simonc/Xtera/data-gateway/xternanewkey-private-key'
SERVER_PORT = 3999
SENTINEL_CLIENT_ID = 'ask-for-this'
SENTINEL_CLIENT_SECRET = 'ask-for-this'
STATIONS_CSV_PATH = '/home/simonc/Xtera/strata-app/docs/test_files/stations.csv'
IMAGES_PATH = '/home/simonc/Xtera/data-gateway/images/'
ENTSOE_API_KEY='ask-for-this'
ENTSOE_OUTPUT_DIR='/home/simonc/Xtera/data-gateway/entsoe-revised-output'
ENCORD_LEGACY_BRIDGE_DATASET='85bf029e-7acb-4d4a-b8e2-f09835e4f747'
ENCORD_LEGACY_BRIDGE_PROJECT='dd63e4d3-4334-48d7-8b7e-493e751f2e40'
ENCORD_TEST_DATASET='d5e93353-9aaf-437d-948e-7cdbf37ed80c'
ENCORD_FORWARD_BRIDGE_DATASET='227ab75e-e12d-4f85-b468-71ea39c145ce'
ENCORD_FORWARD_BRIDGE_PROJECT='a42b4944-7b2b-489b-b606-e8328475effc'
ENCORD_CATCHUPS_DATASET='b74c498f-7439-49c9-8aba-d84625735c63'
ALL_BRIDGES_DATAHASHES = '/home/simonc/Xtera/data-gateway/all_bridges_data_hashes.json'
ENTSOE_CSV_PATH='/home/simonc/Xtera/data-gateway/entsoe-download/'