PRIVATE_KEY_PATH = '/home/user/path/xternanewkey-private-key'
SERVER_PORT = 3999
SENTINEL_CLIENT_ID = 'ask-for-this'
SENTINEL_CLIENT_SECRET = 'ask-for-this'
STATIONS_CSV_PATH = 'config/stations.csv'
IMAGES_PATH = '/tmp/images/'
ENCORD_TEST_DATASET='d5e93353-9aaf-437d-948e-7cdbf37ed80c'
ENCORD_FORWARD_BRIDGE_DATASET='227ab75e-e12d-4f85-b468-71ea39c145ce'
ENTSOE_API_KEY='ask-for-this'